DATABASE_URL="postgresql://kelime:kelime@localhost:5432/kelime?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXTAUTH_URL="http://localhost:3000"
TDK_API_URL="https://sozluk.gov.tr/gts_id"